{# subject: New submission on your {{ form.name }} form #}
{# fromEmail: {{ craft.app.projectConfig.get('email.fromEmail') }} #}
{# fromName: {{ craft.app.projectConfig.get('email.fromName') }} #}
{# replyToName: {{ craft.app.projectConfig.get('email.fromName') }} #}
{# replyToEmail: {{ craft.app.projectConfig.get('email.fromEmail') }} #}
{# cc: #}
{# bcc: #}
{# includeAttachments: true #}
{# presetAssets: #}
{# description: New submission sample email template #}

{% extends "_layout/email.twig" %}

{% block content %}
    <p>
        {% for field in allFields %}
            <strong>{{ field.label }}</strong><br/>
            {{ field.valueAsString|nl2br }}<br/><br/>
        {% endfor %}
    </p>
{% endblock %}
